

<h3 class="center_align">Latest Lessons from <%= @course.name %></h3>
<div class="row">
    <%= link_to "Create a new lesson", new_admin_course_lesson_path %><br>
    <%= link_to "Return to course list", admin_courses_path %><br>
    <%= link_to "Edit course details", edit_admin_course_path(@course.id) %>
      
</div>
<div class="row">
  <div class="col sm-6 offset-s3">
    <div class="collection">
      <% @lessons.each do |lesson| %>
      <%= render 'lesson_list', lesson: lesson %>
      <% end %>
    </ul>
    </div>
  </div>
</div>