<h1>Now editing <%= @lesson.name %> for <%= @course.name %></h1>
  <%= link_to "Return to lesson list", admin_course_lessons_path %><br>
  <%= link_to "Next lesson", admin_course_next_lesson_path(@course, @lesson) %><br>
<%= link_to "Previous lesson", admin_course_previous_lesson_path(@course, @lesson) %><br>
  <%= link_to "Delete lesson", admin_course_lesson_path(@course, @lesson.id), method: :delete, data: {confirm: "Are you sure you want to delete this lesson?"} %>
<%= form_for @lesson, html: { multipart: true }, url: {action:"update"} do |f| %>
 
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="upload-image">
    <a href="http://curvecommunications.com/wp-admin/upload.php?page=tnc-quick-uploader" target="_blank">Open example.com in an iframe</a>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, id: "lesson_content", class: "tinymce" %>
  </div>
  <div>
    <img class="responsive-img" src=<%= @lesson.featured_image %>/>
  </div>
  <div class="field">
    <%= f.label :featured_image %><br>
    <%= f.file_field :featured_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


