<h3 class="center_align">Latest Lessons from <%= @course.name %></h3>
<div class="row">
  <%= link_to "Return to course list", courses_path %>
</div>
<div class="row">
  <div class="col sm-6 offset-s3">
    <div class="collection">
      <% @lessons.each do |lesson| %>
        <div class="collection-item avatar">  
          <img class="circle lesson-image" src=<%= lesson.featured_image %> />
          <%= link_to lesson.name, course_lesson_path(params[:course_id], lesson.id) %> 
          <div class="lesson-image-container">
            <p><%= lesson.content.truncate_words(11).html_safe %></p>
          </div>
        </div>
      <% end %>
    </ul>
    </div>
  </div>
</div>