<h1><%= @lesson.name %></h1>
<%= link_to "Return to index", course_lessons_path(@course) %>
<%= link_to "Next lesson", course_next_lesson_path(@course, @lesson) %>
<% unless @lesson.id === 0 %>
<%= link_to "Previous lesson", course_previous_lesson_path(@course, @lesson) %>
<% end %>
<div class="lesson-container">
  <img class="lesson-image" src=<%= @lesson.featured_image %>>
</div>

<div>
  <%= @lesson.content.html_safe %>
</div>