
<div class="col s6">
  <div class="card medium hoverable">
    <div class="card-image">
      <img class="activator" src= <%= course.image %> />
      <span class="activator card-title"><%= course.name %></span>
    </div>
    <div class="card-content activator">
      Learn More
    </div>
    <div class="card-action">
      <%= link_to "View Course", course_lessons_path(course) %>
    </div>
    <div class="card-reveal">
      <span class="card-title"><%= course.name %></span>
      <p><%= course.description %></p>
    </div>
  </div>
</div> 
