
<div class="col s6">
  <div class="card small hoverable">
    <div class="card-image">
      <img class="activator" src= <%= course.image %> />
      <span class="activator card-title"><%= course.name %></span>
    </div>
    <div class="card-content activator">
      Learn More
    </div>
    <div class="card-action">
      <%= link_to "View Course", admin_course_lessons_path(course) %>
    </div>
    <div class="card-reveal">
      <%= link_to course.name, admin_course_lessons_path(course) ,class: "card-title" %>>
      <p><%= course.description %></p>
    </div>
  </div>
</div>
