<h1>Create a new course</h1>

<%= form_for @course, url:{action:"create"}, controller: "admin/courses" do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><b4>
<%= f.label :description %>
<%= f.text_field :description %><br>
<%= f.label :image %><br>
<%= f.file_field :image %>
<%= f.submit "Submit" %>
<% end %>